/* OVERRIDE ESTILOS */

.passenger-page #passengers,
.passenger-page ul#loadedpass,
.passenger-page ul#loadedcars {
	overflow: inherit;
	text-transform: inherit;
}

.passenger-page .passenger-list h5 {
	font-weight: 700;
	font-size: 1.8rem;
	margin-bottom: 1rem;
}

label {
	font-size: 1.4rem;
}

.accordion-button:not(.collapsed)::after {
	background-image: url(chevron-blue.svg);
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

.accordion-button::after {
	flex-shrink: 0;
	width: 1.25rem;
	height: 1.25rem;
	margin-left: auto;
	content: "";
	background-image: url(chevron-blue.svg);
	background-repeat: no-repeat;
	background-size: 1.25rem;
	transition: transform .2s ease-in-out;
	cursor: pointer;
}

.accordion {
	border: solid 1px #E2E2E2;
	border-radius: .5rem;
	-webkit-border-radius: .5rem;
	-moz-border-radius: .5rem;
	-ms-border-radius: .5rem;
	-o-border-radius: .5rem;
}

.accordion-item {
	border-bottom: solid 1px #E2E2E2;
}


.accordion-header {
	position: relative;
	padding: 1rem;
	margin-bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.accordion-body {
	padding: 3rem 1rem;
}

button.accordion-button {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	background: none;
	border: none;
	outline: none;
	padding-right: 2rem;
}

button.accordion-button:not(.collapsed) {
	background-color: #E7F1FF;
}

.registration-row.title_section_pass {
	margin-top: 3rem;
}

.registration-row.title_section_pass b {
	text-transform: uppercase;
	color: #0077C4;
}


.button__add {
	position: absolute;
	right: 180px;
	top: 0;
	cursor: pointer;
	transform: translateY(50%);
	background-color: #0077C4;
	text-transform: uppercase;
	font-weight: bold;
	padding: .5rem 1.5rem;
	color: #fff;
	font-size: 1.4rem;
	border-radius: .5rem;
	-webkit-border-radius: .5rem;
	-moz-border-radius: .5rem;
	-ms-border-radius: .5rem;
	-o-border-radius: .5rem;
	-webkit-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-ms-transform: translateY(50%);
	-o-transform: translateY(50%);
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
}

.button__add:hover {
	background-color: #005891;
}

.passenger-page .passenger-list__an-item--name {
	font-size: 1.8rem;
	z-index: 5;
	pointer-events: none;
}

.passenger-page .passenger-list__an-item--buttons {
	width: 100%;
	align-items: flex-end;
	justify-content: flex-end;
}

.passenger-page .passenger-list__an-item--buttons .button__edit {
	text-transform: uppercase;
	color: #000;
	font-weight: 600;
}

.passenger-page .passenger-list__an-item--buttons .button__edit span {
	align-items: center;
}


#loadedcars li {
	display: flex;
	gap: .5rem;
	align-items: center;
	width: 100%;
}


#loadedcars li p {
	background: #F2F2F2;
	width: 30%;
	padding: .5rem;
	border-radius: .5rem;
	-webkit-border-radius: .5rem;
	-moz-border-radius: .5rem;
	-ms-border-radius: .5rem;
	-o-border-radius: .5rem;
}